{{#section 'head'}}
    <title>All - My Pokémon Story</title>
    <link rel="stylesheet" href="../public/css/all.css">
{{/section}}


    <div id = "allPictures"> </div>
    
    <div id = "pagePanel">
        <div id = "pagination">
            <a id = "previousPage"><button id = "previousButton">&lt; Previous</button></a>
            <div id = "paginationList">
            </div>
            <a id = "nextPage"><button id = "nextButton">Next &gt;</button></a>
        </div>
    </div>

    <div class="tooltip">
        <button id = "new">+</button>
        <span class="tooltiptext">Tooltip text</span>
    </div>

{{#section 'footer'}}
    <script src="../public/js/all.js"></script>
{{/section}}