{{#section 'head'}}
    <title>All</title>
    <link rel="stylesheet" href="../public/css/all.css">
{{/section}}


    <div id = "allPictures"> </div>
    

{{#section 'footer'}}
    <script src="../public/js/all.js"></script>
{{/section}}