{{#section 'head'}}
    <title>All - My Pokémon Story</title>
    <link rel="stylesheet" href="../public/css/all.css">
{{/section}}


    <div id = "allPictures"> </div>
    
    <div id = "pagePanel">
        <p>Page <span id = "currentPage"></span></p>
        <ul id = "pagination">
            <li><a id = "previousPage">Previous</a></li>
            <div id = "paginationList">
            </div>
            <li><a id = "nextPage">Next</a></li>
        </ul>
    </div>

    <div class="tooltip">
        <button id = "new">+</button>
        <span class="tooltiptext">Tooltip text</span>
    </div>

{{#section 'footer'}}
    <script src="../public/js/all.js"></script>
{{/section}}