{{#section 'head'}}
    <title>Detail</title>
    <link rel="stylesheet" href="../public/css/detail.css">
{{/section}}


    <div><input type="text" id = "searchIpt" name = "pokeName" class="form-control" id="inputPokemon" placeholder="Search Pokémon"></div>       
    <div><button type="submit" id = "searchBtn" class="submitButton">Submit</button></div>
    <img id = "pimage" src="">
    <p>
    Name: <div id = "pname"> </div> <br>
    Id:   <div id = "pid"> </div> <br>
    Type:   <div id = "ptype"> </div> <br>
    Weight: <div id = "pweight"> </div> <br>
    </p>
    

{{#section 'footer'}}
    <script src="../public/js/detail.js"></script>
{{/section}}