{{#section 'head'}}
    <title>Detail - My Pokémon Story</title>
    <link rel="stylesheet" href="../public/css/detail.css">
{{/section}}

<button>Back</button>
    <div id = "allresult">
        <div id = "result">
            <div id = "leftBar">
                <div id = "imgDiv">
                    <p id = "pn"></p>
                    <img id = "pimage" src="">
                </div>
                <button>Favorite</button>
                <button>Add to My List</button>
            </div>
            <div id = "descriptionDiv">
                <p>
                <span id = "pid" style = "font-family: 'Gill Sans Heavy'; font-size:30px; "> </span>  <span id = "pname" style = "font-family: 'Gill Sans Heavy'; font-size:30px; "> </span> <br>
                Type:   <span id = "ptype"> </span> <br>
                Ability: <span id = "pability"> </span> <br>
                Gender Ratio: <span id = "pgender"> </span> <br>
                Capture Rate: <span id = "pcapture"> </span> <br>
                Egg Groups: <span id = "pegg"> </span> <br>
                Initial Hatch Time: <span id = "phatch"> </span> <br>
                Height: <span id = "pheight"> </span> <br>
                Weight: <span id = "pweight"> </span> <br>
                Color: <span id = "pcolor"> </span> <br>
                Shape: <span id = "pshape"> </span> <br>
                Base Experience Gained When Capture: <span id = "pbase"> </span> <br>
                Level Growth Rate: <span id = "pgrowth"> </span> <br>
                </p>


                <p>Base Stats:</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Stats</th>
                                <th>Effort</th>
                            </tr>
                        </thead>
                        <tbody id = "pstats">    
                            <!--Example table 
                            <tr>
                                <td>1</td>
                                <td>Clark</td>
                                <td>Kent</td>
                                <td>clarkkent@mail.com</td>
                            </tr> -->         
                        </tbody>
                    </table>


                <p>
                Evolution Charts: <span id = "pevolution"></span>
                </p>
                <div id = "psprites">
            
                </div>
            </div>
        </div>
        <div id = "noResult"></div>
    </div>

{{#section 'footer'}}
    <script src="../public/js/detail.js"></script>
{{/section}}