{{#section 'head'}}
    <title>Detail</title>
    <link rel="stylesheet" href="../public/css/detail.css">
{{/section}}


    <div><input type="text" id = "searchIpt" name = "pokeName" class="form-control" id="inputPokemon" placeholder="Search Pokémon"></div>       
    <div><button type="submit" id = "searchBtn" class="submitButton">Submit</button></div>
    <div id = "allresult">
        <div id = "result">
            <img id = "pimage" src="">
            <p>
            Name: <span id = "pname"> </span> <br>
            Id:   <span id = "pid"> </span> <br>
            Type:   <span id = "ptype"> </span> <br>
            Weight: <span id = "pweight"> </span> <br>
            </p>
        </div>
        <div id = "noResult"></div>
    </div>

{{#section 'footer'}}
    <script src="../public/js/detail.js"></script>
{{/section}}