{{#section 'head'}}
    <title>Community - My Pokémon Story</title>
    <link rel="stylesheet" href="../public/css/fyp.css">
{{/section}}

{{#section 'footer'}}
    <script src="../public/js/fyp.js"></script>
{{/section}}