{{#section 'head'}}
    <title>Home - My Pokémon Story</title>
    <link rel="stylesheet" href="../public/css/index.css">
{{/section}}

<figure>
    <div id = "wallpaper">
        <img src="../public/image/wallpaper.jpg">
    <!--<button id = "homeButton">Click</button>-->
    </div>
</figure>

{{#section 'footer'}}
    <script src="../public/js/index.js"></script>
{{/section}}