{{#section 'head'}}
    <title>Home - My Pokémon Story</title>
    <link rel="stylesheet" href="../public/css/index.css">
{{/section}}

<div style = "height:400px"></div>
<figure>
    <!--<button id = "homeButton">Click</button>-->
</figure>

{{#section 'footer'}}
    <script src="../public/js/index.js"></script>
{{/section}}