{{#section 'head'}}
    <title>Homepage</title>
    <link rel="stylesheet" href="../public/css/index.css">
{{/section}}

<button id = "homeButton">Click</button>

{{#section 'footer'}}
    <script src="../public/js/index.js"></script>
{{/section}}