{{#section 'head'}}
    <title>Journey - My Pokémon Story</title>
    <link rel="stylesheet" href="../public/css/journey.css">
{{/section}}

{{#section 'footer'}}
    <script src="../public/js/journey.js"></script>
{{/section}}