<!Doctype>
<html>
    <head>
        {{{_sections.head}}}

        <meta name="viewport" content="width = device-width, initial-scale = 1.0">

        <link rel="icon" href="../public/image/logo2.png">
        <link rel="stylesheet"  href="../public/css/layout.css">
    </head>

<body>
    <header style = "position:fixed;">
        <nav>
            <div id = "logoPlace">
                <a href = "/"><img src = "../public/image/logo.png" alt = "logo" id = "logoNav"/></a>
            </div>
            <div id = "searchBar">
                <form action = "/detail" method = "GET">
                        <input type="text" name = "pId" class="form-control" id="searchInput" placeholder="Search Pokémon">
                        <button type="submit" id="searchButton"><img src="../public/image/icon/search.png" class = "icon"></button>
                </form>
            </div>
            <div id = "userPanel">
                <a href="all"><h3>Pokémon</h3></a>
                <a href="fyp"><h3>Community</h3></a>
                {{#if user}}
                <a href = "list"><img src="../public/image/icon/user.png" class = "icon"></a>
                {{else}}
                <a href="login"><img src="../public/image/icon/user.png" class = "icon"></a>
                {{/if}}
            </div>
        </nav>
        <hr style = "padding:0; margin:0;" id = "topLine"/>
    </header>
    <div style = "height: 75px;"></div>
    
    <section>
        {{{body}}}
    </section>

    <footer>    
        <h5  id = "slogan">
            Keep our dreams ®My Pokémon Story<br> Developed by Yichen(Eathen)<br/>
        </h5>
        <h5 id = "terms">
            <a href = "">Contact Us</a> 
            <a href = "">Cookie Policy</a> 
            <a href = "">Privacy Policy</a> 
            <a href = "">Site Map</a>
        </h5>
        <h5 id = "contact">
            #This website is developed only for a personal, noncommercial home use. The design and programming belong to the Pokémon Fan Art category.  All rights reserved to the Pokémon Company International. Please <a href = "https://www.yichenguo.com/">contact us</a> for Legal Reasons.
        </h5>
    </footer>

    <script src="../public/js/layout.js"></script>
    {{{_sections.footer}}}

</body>
</html>