{{#section 'head'}}
    <title>Login - My Pokémon Story</title>
    <link rel="stylesheet" href="../public/css/password.css">
{{/section}}

<form method="POST" action="/login">
	<h2>Account Login</h2>
	{{#if message}}
	<div class="error">{{ message }}</div>
	{{/if}}
	<div>
		<input type="email" name="email" value="" placeholder="Email">
	</div>
	<div>
		<input type="password" name="password" value="" placeholder="Password">
	</div>
	<div>
		<input type="submit" value="LOGIN">
	</div>
	<div>
		<p><a href = "find">Forget Your Password?</a><br />
		<a href = "register">Create New Account</a></p>
	</div>
</form>

{{#section 'footer'}}
    <script src="../public/js/password.js"></script>
{{/section}}