{{#section 'head'}}
    <title>Site Map - My Pokémon Story</title>
    <link rel="stylesheet" href="../public/css/policy.css">
{{/section}}

<p>
    TIME.com Site Map
Business
Charter
Climate
Entertainment
Health
History
Ideas
LIFE
LightBox
Living
Motto
Newsfeed
Opinion
Politics
Press Room
Science
Sports
Tech
The Goods
U.S.
World
</p>

{{#section 'footer'}}
    <script src="../public/js/policy.js"></script>
{{/section}}