{{#section 'head'}}
    <title>New - My Pokémon Story</title>
    <link rel="stylesheet" href="../public/css/new.css">
{{/section}}

{{#section 'footer'}}
    <script src="../public/js/new.js"></script>
{{/section}}