{{#section 'head'}}
    <title>Register - My Pokémon Story</title>
    <link rel="stylesheet" href="../public/css/password.css">
{{/section}}


<form method="POST" action="register">
	<h2>Register</h2>
	{{#if message}}
	<div class="error">{{ message }}</div>
	{{/if}}
	<div>
		<input type="text" name="firstName" placeholder="First Name" required>
	</div>
	<div>
		<input type="text" name="lastName" placeholder="Last Name" required>
	</div>
	<div>
		<input type="email" name="email"  placeholder="Email" required>
	</div>
	<div>
		<input type="password" name="password" placeholder="Password" required>
	</div>
	<div>
		<input type="submit" value="REGISTER">
	</div>
	<div>
		<a href = "login"><p>Back to Login</p></a>
	</div>
</form>

{{#section 'footer'}}
    <script src="../public/js/password.js"></script>
{{/section}}