#allPictures{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

#pagination{
    display:flex;
    flex-direction:row;
    gap:0;
    justify-content: center;
}

#pagination button{
    font-size: 20px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    color:var(--main-text-color);
    border:1px solid var(--main-text-color);
}

#paginationList button{
    border-radius:0;
}

#previousButton{
    border-top-left-radius: var(--main-border-radius);
    border-bottom-left-radius: var(--main-border-radius);
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}

#nextButton{
    border-top-right-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}

section{
    background-color:aliceblue;
}

#allLink{
    background-color:var(--main-text-color);
    color: aliceblue;
}

#newIcon{
    height: 50px;
    width: 50px;
    object-fit: cover;
    /* This attribute prevents user interaction with the button*/
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    padding:0;
    margin:0;
}

#newButton{
    height:52px;
    width:52px;
    padding:0;
    margin:0;
    border-radius: 50%;
    position:fixed;
    bottom: 50px;
    right: 30px;
    border: 1px solid aliceblue;
    background-color: var(--main-text-color);
}

.tooltip {
   position: relative;
}
.tooltip::before {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 17.5px;
   background-color: rgba(56, 106, 187, 0.5);
   border: 1px solid aliceblue;
   color: aliceblue;
   
   width: 180px;
   margin-left: -150px;
   border-radius: var(--main-border-radius);
   top: 0;
   right: 100%;
   content: attr(data-title);
   display: none;
   padding: 5px;
   text-align:left;
   position: absolute;
   z-index: -1;
}
.tooltip:hover::before {
   display: block;
}