
section{
    overflow: hidden;
}

figure{
    height: 980px;
    width: 5498px;
    background-image: url(../image/wallpaper.jpg);
    background-color:white;
    background-repeat: repeat-x;
    animation-name: move;
    animation-duration:120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move{
    0% {
        transform:translateX(-40px);
    }
    100%{
        transform: translateX(-2789px); 
    }
}

#title{
    min-height: 425px;
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
}

#title h3{
    width: 50%;
    position:relative;
    top: 150px;
    font-family: 'Gill Sans Heavy';
    color:var(--main-text-color);
    font-size: 100px;
    text-align:left;
    padding:0;
    margin:0;
}

#subtitle{
    width: 50%;
    position:absolute;
    top: 480px;
    left:25%;
}

#subtitle p, button{
    margin-left:0;
    margin-right:0;
    margin-top:10px;
    margin-bottom:10px;
    font-size: 20px;
    width: max-content;
    color:var(--main-text-color);
}

#subtitle p{
    padding:0;
}

#subtitle button, #subEmail button{
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    border:1px solid var(--main-text-color);
}

#blocks{
    width: 50%;
    position:absolute;
    top: calc(100vh + 75px);
    left:25%;
    color: var(--main-text-color);
    background-color: aliceblue;
   /* border-radius: var(--main-border-radius);*/
   border: 1px solid var(--main-text-color);
}

#blocks h3{
    font-family: 'Gill Sans Heavy';
    font-size: 70px;
    margin:0;
    padding-top:80px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    text-align: left;
}

#subblocks{
    display:flex;
    flex-direction:row;
    gap:0;
}

#subblocks div{
    width:calc((100% - 120px)/3);
    padding:20px;
    margin: 20px;
    background-color: white;
    border-radius: var(--main-border-radius);
    text-align: left;
}

#subblocks div p{
    color:black;
    font-size: 20px;
}

#subblocks div p b{
    font-family: 'Gill Sans Heavy';
}

#login{
    background-image:
    linear-gradient(to top, rgba(245, 246, 252, 0),rgba(84, 185, 241, 0.7)),
        url(../image/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
}

#subLogin{
    position:absolute;
    width: 50%;
    left: 25%;
    top: 260vh;
    text-align: left;
}

#subLogin h3, #subLogin p, #subFriend h3, #subFriend p{
    padding:0;
    margin:0;
    color:white;
    text-shadow : 5px 5px 5px black;
}

#subLogin h3{
    font-family: 'Gill Sans Heavy';
    font-size: 70px;
}

#subLogin button{
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    border:1px solid var(--main-text-color);
}

#login p{
    font-size: 30px;
}

#subFriend{
    position:absolute;
    width: 50%;
    left: 25%;
    top: 430vh;
    text-align: left;
}


#subFriend h3{
    font-family: 'Gill Sans Heavy';
    font-size: 70px;
}

#subFriend button{
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    border:1px solid var(--main-text-color);
}

#friend{
    background-image:
        url(../image/friend.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    font-size: 30px;
}

#email{
    height: calc(100vh - 225px);
    background: linear-gradient(to top, white,aliceblue);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    position:relative;
    
}

#subEmail{
    width: 50%;
    height: 100%;
    border-left: 1px solid var(--main-text-color);
    border-right: 1px solid var(--main-text-color);
    position:absolute;
    left: 25%;
    color:var(--main-text-color);
    padding: 20px;
    margin: 0;
}

#subEmail h3{
    font-family: 'Gill Sans Heavy';
    font-size: 70px;
    margin: 0px;
    padding: 20px;
    text-align: left;
}

#subEmail input{
    border: 1px solid var(--main-text-color);
    height: 40px;
    padding:5px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    font-size: 20px;
    -webkit-text-fill-color:var(--main-text-color);
    font-family: 'Gill Sans Heavy';
    border-radius: var(--main-border-radius);
    align-items: center; 
}

#subEmail p{
    font-size: 20px;
    margin: 0px;
    padding: 20px;
    text-align: left;
}

#subEmail button{
    text-align:center;
}

html,body
{
    overflow-x:hidden;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

section{
    background-color:white;
}

/*#wallpaper{
    overflow-x:scroll;
    overflow-y:hidden;
    height:100vh;
    white-space: nowrap;
}*/