
section{
    overflow: hidden;
}

figure{
    height: 980px;
    width: 5498px;
    background-image: url(../image/wallpaper.jpg);
    background-repeat: repeat-x;
    animation-name: move;
    animation-duration:120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move{
    0% {
        transform:translateX(-40px);
    }
    100%{
        transform: translateX(-2789px); 
    }
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*#wallpaper{
    overflow-x:scroll;
    overflow-y:hidden;
    height:100vh;
    white-space: nowrap;
}*/