:root{
    --main-border-radius: 10px;
    --main-text-color: rgba(56,106,187,1);
}

@font-face {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    src:url("../font/Gill\ Sans.otf");
}

@font-face {
    font-family: 'Gill Sans Heavy';
    src:url('../font/Gill\ Sans\ Heavy.otf')
}

body{
    min-height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items:center;
    text-align: center;
    display:flex;
    flex-direction: column;
    /*background-image: url(../image/wallpaper.png);*/
}

header{
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0; 
    right: 0;
}

#topLine{
    border-top: 1px solid var(--main-text-color);
}

nav{
    height: 75px;
    background-color:aliceblue;
    font-family: 'Gill Sans Heavy';
    width: 100%;
    padding: 10px;
    /*background-color: var(--main-background-color);*/

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

nav .icon{
    height: 25px;
    width: 25px;
    object-fit: cover;
    /* This attribute prevents user interaction with the button*/
    pointer-events: none;
}



#logoPlace{
    width: 25%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; 
}

#logoNav{
    height:40px;
}

#searchBar{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#searchBar form{
    width: 100%;
    height: 100%;
    padding:0;
    /* Use margin:auto to vertically center a div*/
    margin: auto;
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center; 
    gap:0;
}

#searchBar input{
    border: 1px solid var(--main-text-color);
    width: 100%;
    height: 40px;
    padding:5px;
    font-size: 20px;
    -webkit-text-fill-color:var(--main-text-color);
    font-family: 'Gill Sans Heavy';
    border-top-left-radius: var(--main-border-radius);
    border-bottom-left-radius: var(--main-border-radius);
    align-items: center; 
}

#searchBar input::placeholder {
    color:var(--main-text-color);
}

#searchBar button{
    border: 1px solid var(--main-text-color);
    background-color:white;
    margin-top: auto;
    margin-bottom: auto;
    padding:5px;
    height: 40px;
    border-top-right-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}

#userPanel{
    width: 25%;
    padding:10px;
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; 
    text-align: center;
    gap: 10px;
}

#userPanel a{
    padding: 0;
}

#userPanel h3{
    font-size:20px;
    padding:0;
}

button{
    font-family: 'Gill Sans Heavy';
    border-radius: var(--main-border-radius);
}

section{
    min-height: calc(100vh - 250px);
    margin:0;
    padding:0;
    width: 100%;
}

footer{
    width: 100%;
    height: 150px;
    background-color: var(--main-text-color);
}

footer-content{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

footer-content div{
    margin: auto;
}

a{
    text-decoration: none;
    color: var(--main-text-color);
}

a:hover{
    text-decoration: underline black;
}

input:focus{
    outline: none;
    box-shadow: 0 0 5px var(--main-text-color);
}

