section{
    background: linear-gradient(to top, white,aliceblue);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

section form{
    width: 50%;
    height: 100%;
    border-left: 1px solid var(--main-text-color);
    border-right: 1px solid var(--main-text-color);
    position:absolute;
    left: 25%;
    color:var(--main-text-color);
    padding: 20px;
    margin: 0;
}

section form h2{
    font-family: 'Gill Sans Heavy';
    font-size: 70px;
    margin: 0px;
    padding: 20px;
    text-align: left;
}

section form p{
    font-size: 20px;
    margin: 0px;
    padding: 20px;
    text-align: left;
}

.error{
    font-size: 20px;
    text-align: left;
    color:red;
    margin: 0px;
    padding: 20px;
}

section form input{
    border: 1px solid var(--main-text-color);
    height: 40px;
    padding:5px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    font-size: 20px;
    -webkit-text-fill-color:var(--main-text-color);
    font-family: 'Gill Sans Heavy';
    border-radius: var(--main-border-radius);
    align-items: center; 
}

section input[type="text"]{
    background-color : white; 
  }

section form input[type = "submit"]{
    text-align:center;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    border:1px solid var(--main-text-color);
}